@font-face {
    font-family: 'Tangerine';
    src: local('Tangerine'), url("../assets/fonts/13341.otf") format("opentype");
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,500);

:root {
    --text-color: #000000;
    --accent-text-color: #ffffff;
    --main-btn-color: #a0162d;
}
  