@import "./_variables.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: url(https://wallpaperaccess.com/full/2454608.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}